div.col.col-3-of-4.center.post
  h3
    a(href='/posts/'+post._id, title=post.title) #{post.title}
  p= post.body

  .meta
    span.muted= formatDate(post.createdAt)

    - if (post.user)

      - var name = post.user.username

      a(href="/users/"+post.user._id)= name